/* @import 'tango.css'; */
@import 'onedark.css';

@font-face {
  font-family: 'Fira Code';
  src: url('/theme/fonts/FiraCode-Regular.woff2') format('woff2'),
       url("/theme/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/theme/fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
       url("/theme/fonts/Inter-Regular.woff?v=3.18") format("woff");
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Sans Serif";
    line-height: 1.5;
    text-align: left;
    font-size: 1.2rem;
	min-width: 1em;
	max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px 0 50px;
    color: #2e2e2e;
}

a { color: inherit; }

p {
    margin: 0 0 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2e2e2e;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-weight: 600;
    font-size: 1.75em;
    margin: 24px 0 16px;
    padding-top: 0.3em;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    margin: 24px 0 16px;
    padding-top: 0.3em;
}

h3 {
    margin: 24px 0 16px;
    font-size: 1.3em;
}

h4 {
    margin: 24px 0 16px;
    font-size: 1.2em;
}

h5 {
    margin: 24px 0 16px;
    font-size: 1em;
}

h6 {
    margin: 24px 0 16px;
    font-size: 0.95em;
}

img {
    max-width: 100%;
}

pre {
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 1.6em;
    overflow-x: auto;
    font-family: "Fira Code", "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    display: block;
    padding: 8px 12px;
    margin: 1.5em 0px;
    font-size: 13px;
    font-size: 1.3rem;
    word-break: break-all;
    word-wrap: break-word;
    color: #2e2e2e;
    background-color: #fafafa;
    /*background-color: #282C34;*/
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

pre code {
    font-family: "Fira Code", "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    word-wrap: normal;
    word-break: keep-all;
    color: #2e2e2e;
    background-color: #fafafa;
    white-space: pre;
}

code {
    font-family: "Fira Code", "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    font-size: 90%;
    padding: 4px 2px;
    color: #c0341d;
    line-height: 1.5;
    background-color: #fbe5e1;
    border-radius: 4px;
    word-break: break-word;
}

blockquote {
  background: #fafafa; 
  border-left: 10px solid #7d7d7d;
  margin: 1.5em 20px;
  padding: 0.5em 20px;
  border-radius: 4px;

}

blockquote p {
  display: inline;
}

.highlighttable {
    border: none;
    background: white;
}

.highlighttable .linenos {
    border: none;
    padding: 0px;
}


#header-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#banner h1 {
    font-family: "Fira Code";
    font-size: 1.5rem;
    text-decoration: none;
}
#banner a{
    text-decoration: none;
}


#menu {
    padding: 16px 0 0 0;
}

#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu li {
    display: inline;
    margin: 10px;
}


#content {
  flex: 1 0 auto;
}

#content #post-list {
    position:relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

#content #ruler {
    width: 30%;
    margin: 50px auto;
    background-color: #2e2e2e;
}

#content .post-info {
    padding: 0 0 30px 0;
    color: #7d7d7d;
    display: flex;
    justify-content: center;

}

#content .post-info .author {
    margin: 0 10px 0 0;
    font-style: inherit;
}

#content .post-info .published {
    /* font-size: 0.8rem;
    align-self: flex-end;
    */
    margin: 0 0 0 10px;
    
}

#content .modified {
    font-size: 0.8rem;
}

#content .paginator {
    padding: 30px 0 0 0;
    text-align: right;
}
#content .paginator .icons {
    vertical-align: middle;
}


.footer {
  flex-shrink: 0;
}

#contentinfo {
    font-size: 0.9rem;
    margin: 50px 0 0 0;
}





.blinking-cursor {

  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#chrome-warning {
    font-size: 0.9rem;
    display:none;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid;
    background-color: #ff9966;
}

#contact-me {
    font-size: 0.95rem;
    padding: 20px;
    margin: 50px 0 50px 0;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e1e1e1;
    background-color: #fafafa;
}

@media (max-width: 450px) {
    h1 {
        font-size: 1.3em;
    }
    body {
        font-size: 1.2rem;
    }
    code {
        font-size: 0.9rem;
    }
    body {
        padding: 0 15px 0 15px;
    }
}

